/* Global Styles */

.layout {
    background-color: black;
    color: darkgray;
}

h1, h2, h3, h4, p, a, label, address {
    color: darkgray;
    text-decoration: none;
    text-decoration-color: none;
}

.btn-red {
    color: #FFFFFF;
    background-color: #E00000;
    border-color: #000000;
}

    .btn-red:hover,
    .btn-red:focus,
    .btn-red:active,
    .btn-red.active,
    .open .dropdown-toggle.btn-red {
        color: #FFFFFF;
        background-color: #A60000;
        border-color: #000000;
    }

/* Navbar Styles */

.navbar-brand {
    margin-top: -7px;
}

/* Character Details Styles */

.breadcrumb.layout {
    margin: 0;
    padding: 15px;
}

.redtext, .redtext:link {
    color: #E00000;
}

.redtext:active, .redtext:hover {
     color: #BB002D;
     text-decoration: none;
}

/* Contact Page Styles */

form {
    color: black;
}