<connectionStrings>
  <add name="StrangerThingsContext" connectionString="Data Source=isgroup6.database.windows.net;Initial Catalog=StrangerThings;Integrated Security=False;User ID=eamigo13;Password=Things10Are10Strange;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StrangerThings-20171102032628.mdf;Initial Catalog=aspnet-StrangerThings-20171102032628;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>