@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron layout">
    <center>
        <p><img src="~/Content/img/strangerthingsgif.gif" /></p>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Click on this button to see a list of characters you can view stats and FAQs for!
                </p>
                @*Button goes to the Index view of the Characters Controller*@
                @Html.ActionLink("Characters", "Index", "Characters", null, new { @class = "btn btn-red btn-lg" })
            </div>
        </div>
    </center>
</div>

